<small><a href="/cars">Back</a></small>
<small><a href="/cars/<%= @car.id %>/edit">Edit</a></small>
<h1><%= @car.modal_name %> <%= @car.color %></h1>
<h3>Year <%= @car.year %></h3>
<form class="" action="/cars/<%= @car.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete" style="background:none;border:none;color:red">
</form>
